# Lista de los contenedores que componen tu aplicación
adminApp:
    name: aims-mob-admin # Nombre del primer contenedor (ej. el frontend o API principal)
    replicas: 1 # Podemos tener más réplicas para el servicio público
    image: quay.io/microsafe_app_ban/aims-mob-admin-private@sha256:03e3e32871fa097dd7d221e6c606d1f7bb549a1a066a01d8e04156fd95c39eb0
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
    config:
      NODE_ENV: "production"
      VITE_VERSION: "1.0.0"
      #RHBK
      VITE_KEYCLOAK_URL: "rhbk-aims.prod.url"
      VITE_KEYCLOAK_REALM: "rhbk-aims.prod.realm"
      VITE_KEYCLOAK_CLIENT_ID: "rhbk-aims.prod.id"
      #Conexión con backend
      VITE_BACKEND_URL: "http://aims-mob-service"
    secretName: aims-mob-admin-secrets
    # Configuración del servicio interno
    service:
      enabled: true
      port: 8083 # Puerto por el que el servicio escuchará
      targetPort: 8080 # Puerto en el que tu contenedor escucha
    # Configuración de la ruta externa (Ingress/Route)
    ingress:
      enabled: true
      # Cambia a 'true' si estás en OpenShift para usar un objeto Route
      isOpenshiftRoute: true
      #host: "" # El dominio público
    autoscaling:
      enabled: false
###########################################################################
mainService:
    name: aims-mob-service
    replicas: 1
    # Configuración no sensible
    annotations:
      instrumentation.opentelemetry.io/inject-nodejs: "true"
    config:
      NODE_ENV: "production"
      EXPRESS_PORT: "4000"
      # Base de datos SQL Server 2022
      MSSQL_HOST: "aimsmobile-database.prod.host"
      MSSQL_PORT: "aimsmobile-database.prod.port"
      #RHBK
      KEYCLOAK_URL: "rhbk-aims.prod.url"
      KEYCLOAK_REALM: "rhbk-aims.prod.realm"
      KEYCLOAK_CLIENT_ID: "rhbk-aims.prod.id"
      # API AIMSv1
      AIMS1_API_URL: "http://aims-db-service:3000"
      # API Remedy
      REMEDY_API_URL: "remedy-aims.prod.svc"
      ## Open Telemetry
      OTLP_METRIC_EXPORTER_URL: "opentelemetry-metrics.prod.url"
      OTLP_TRACE_EXPORTER_URL: "opentelemetry-traces.prod.url"
      OTLP_LOG_EXPORTER_URL: "opentelemetry-logs.prod.url"
      # Conexión con consola web de administración
      FRONTEND_VERSION: "1.0.0"
      FRONTEND_URL: "http://aims-mob-admin"
      FRONTEND_KEYCLOAK_URL: "rhbk-aims.prod.url"
      FRONTEND_KEYCLOAK_REALM: "rhbk-aims.prod.realm"
      FRONTEND_KEYCLOAK_CLIENT_ID: "rhbk-aims.prod.id"
      FRONTEND_BACKEND_URL: "http://aims-mob-service"
      # Secretos y contraseñas
    secretName: aims-mob-service-secrets
    conjurSecretName: aims-mob-service-conjur   # Secret creado por Conjur provider / CSI
    # Configuración del servicio interno
    service:
      enabled: true
      port: 8085 # Puerto por el que el servicio escuchará
      targetPort: 8081 # Puerto en el que tu contenedor escucha
    # Configuración de la ruta externa (Ingress/Route)
    ingress:
      enabled: true
      isOpenshiftRoute: true
#      host: "" # El dominio público
    # Configuración de auto-escalado PARA ESTE SERVICIO
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 80
      #targetMemoryUtilizationPercentage: 80 # También puedes usar memoria
    # Contenedor principal de la aplicación
###########################################################################
    serviceContainer:
      name: aims-mob-service-main
      image: quay.io/microsafe_app_ban/aims-mob-service-private@sha256:1eada8cc1e9a95fbec205f8b649b7939c2721e844c8cf35feec0a8bada86961f
      resources:
        requests: { cpu: 200m, memory: 128Mi }
        limits: { cpu: 2500m, memory: 2048Mi }
###########################################################################
    proxyContainer:
      name: aims-mob-service-proxy
      image: quay.io/microsafe_app_ban/aims-mob-proxy-private@sha256:181dde32479b5215f4069ce340e9f73377ce7b20ff593d41f4b4d97262d1cf87
      resources:
        requests: { cpu: 200m, memory: 128Mi }
        limits: { cpu: 2000m, memory: 1024Mi }
###########################################################################
dbService:
    name: aims-db-service
    replicas: 1
    image: quay.io/microsafe_app_ban/aims-db-service-private@sha256:62abe860322a470e28b9a126503859127b6fd655976aec309ca2c427e60dbd3c
    resources:
      requests:
        cpu: 200m
        memory: 128Mi
      limits:
        cpu: 300m
        memory: 256Mi
    config:
      # Base de datos SQL Server 2022
      MSSQL_HOST: "aims-database.prod.host"
      MSSQL_PORT: "aims-database.prod.port"
    secretName: aims-db-service-secrets
    conjurSecretName: aims-db-service-conjur   # Secret creado por Conjur provider / CSI
    autoscaling:
      enabled: false
    service:
      enabled: true
      port: 3000 # Puerto por el que el servicio escuchará
      targetPort: 3000 # Puerto en el que tu contenedor escucha
    ingress:
      enabled: false
serviceAccount:
  # Al poner 'false', la plantilla no generará nada, pero la variable existirá.
  create: false
  annotations: {}
  # El nombre se puede dejar vacío si create es false.
  name: ""
networkPolicy:
  # Cambia a false si no quieres instalar las políticas de red
  enabled: true
externalEgress:
  - name: aims-database-mssql
    ip: "aims-database.prod.host" # El cliente DEBE cambiar esta IP por la de su entorno.
    port: "aims-database.prod.port"
  - name: aimsmobile-database-mssql
    ip: "aimsmobile-database.prod.host" # El cliente DEBE cambiar esta IP.
    port: "aimsmobile-database.prod.port"
# El cliente debe obtener estos rangos de su equipo de redes.
extraEgressRules: []
  # - name: allow-remedy-services
  #   ipBlock:
  #     cidr: 10.50.20.0/24
  # - name: allow-opentelemetry-collectors
  #   ipBlock:
  #     cidr: 10.60.0.0/16
